@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald/Oswald-Regular.ttf");
   font-weight: 500;
}
@font-face {
   font-family: "Oswald-light";
   src: url("fonts/Oswald/Oswald-Light.ttf");
   font-weight: 200;
}
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Roboto&display=swap');

html{
    text-transform: uppercase;
}

h1 {
    color: rgb(235, 152, 45);
    font-family: 'Kodchasan', sans-serif;
    text-align: justify;
}

p{
    color: rgb(93, 170, 93);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-transform: none;
    line-height: normal;
    font-weight: lighter;
}
img {
    width: 400px;
}